@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* page not found */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pnf-title {
  font-size: 100px;
  font-weight: 700;
}
.pnf-heading {
  font-weight: normal;
}
.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

/* Navbar */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  box-shadow: 0px 8px 6px -6px gray;
  border-bottom: solid gray !important;
  text-transform: uppercase;
}

.nav-link {
  font-weight: 300 !important;
}
.active {
  border-bottom: 2px solid black;
}
.navbar-brands {
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "roboto", sans-serif;
}
.footer {
  color: #fff;
  padding: 25px;
  background-color: -webkit-linear-gradiant(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}
.footer a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}
.footer a:hover {
  color: #ffafba;
  border-bottom: 1px solid #ffefba;
}

.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* product */
.product-link {
  text-decoration: none;
  color: black;
}
